
.homeDiv{
    /* border: 5px solid orange; */
    height: 100%;
    width: 100%;
    z-index: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
}

.experienceCol{
  margin-top: 25px;
  margin-bottom: 25px;
}

.experienceCardImage{
    width: 100% !important;
    object-fit: scale-down !important;
    height: 10vw !important;
}

.experiencesRow{
  margin: 25px !important;
}


.experienceCard{
    /* border: 5px solid red !important; */
    margin-right: 50px !important;
    margin-left: 50px !important;
    width: 400px !important;
    height: 100%;
    transition: .2s ease-in-out;
    opacity: .5;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}
.experienceCard:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
    opacity: 1;
  }

.experienceCardBody{
  display: flex !important;
  flex-direction: column !important;
}


.experienceCardTitle{
    font-family: 'Open Sans', sans-serif !important; 
    font-size: 20px !important; 
    font-weight: 600 !important; 
    line-height: 32px !important; 
    text-align: center !important;
}

.experienceCardSubTitle{
    font-family: 'Open Sans', sans-serif !important; 
    font-size: 15px !important; 
    font-weight: 600 !important; 
    line-height: 32px !important; 
    text-align: center !important; 
}

.experienceCardIcon{
    color:#659DBD;
    margin-right: 15px;
}
