.projectCard{
    /* border: 5px solid red !important; */
    margin: 30px auto;
    margin-right: 50px !important;
    margin-left: 50px !important;
    width: 325px;
    height: 300px;
    border-radius: 40px !important;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: .5s ease-in-out;
    opacity: .6;
}

.projectCardBody{
  display: flex;
  flex-direction: column;
}

.projectCard:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
    opacity: 1;
  }

.projectCardTitle{
    font-family: 'Open Sans', sans-serif !important; 
    font-size: 30px !important; 
    font-weight: 300 !important; 
    line-height: 32px !important; 
    text-align: center !important; 
}

.projectCardIcon{
    color:#659DBD;
    margin-right: 15px;
}

.projectButton{
    background: linear-gradient(to left, #67b26b, #4ca2cb) !important;
    border-radius: .75em !important;
    width: 100px !important;
    text-align: center !important;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}



.projectButtonIcon{
    color:white
}

.example_f {
    border-radius: 4px;
    background: linear-gradient(#4ca2cb, #67b26b) !important;
    border: none !important;
    color: #FFFFFF !important;
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 22px !important;
    padding: 20px !important;
    width: 200px !important;
    transition: all 0.4s !important;
    cursor: pointer !important;
    margin: 5px !important;
    
  }
  .example_f span {
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    transition: 0.4s !important;
  }
  .example_f span:after {
    content: '\00bb' !important;
    position: absolute !important;
    opacity: 0 !important;
    top: 0 !important;
    right: -20px !important;
    transition: 0.5s !important;
  }
  .example_f:hover span {
    padding-right: 25px !important;
  }
  .example_f:hover span:after {
    opacity: 1 !important;
    right: 0 !important;
  }