.nav{
  /* border: 5px solid red; */
  height: auto;
}

.page{
  height: 95%;
}

.main{
  /* border: 5px solid green; */
  position: fixed;
  height: 100% !important;
  width: 100%;
  background-image: url("./assets/scott-webb-hDyO6rr3kqk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background{

}

